*{
    padding: 0;
    margin: 0;
    border: border-box;
  }
   
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 /*upload PAGE*/
    
 .up-container {
    text-align: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgb(212, 105, 212);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(212, 105, 212);
}

button#closeForm {
    background-color: #dc3545;
}

button#closeForm:hover {
    background-color: #c82333;
}

/*END OF UPLOAD PAGE*/